.firstList,
.secondList {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.firstList li,
.secondList li {
  font-size: 16px;
  margin-bottom: 20px;
  list-style: none;
}
.firstList li span,
.secondList li span {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.secondList {
  margin-top: 20px;
}

.sceletonUl span {
  margin-bottom: 7px;
}

@media screen and (max-width: 1100px) {
  .topBlock {
    flex-direction: column !important;
    width: 95vw !important;
  }
  .bottomBlock {
    flex-direction: column-reverse !important;
    width: 95vw !important;
  }
  .wrappFlag {
    margin-bottom: 40px;
    width: 95vw !important;
    height: 80vw !important;
  }
  .wrappGerb {
    margin-bottom: 40px;
    width: 95vw !important;
    height: 90vw !important;
  }
}
